.whole-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .choose-company-container {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    //align-items: center;
    .container-title{
      font-size: large;
      margin: 2vh 2vw;
    }
  }

  .choose-action {

    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
    margin: 1rem 2rem;
    justify-content: space-between;

    .explanation {
      //height: 30vh;
      width: 30vw;
      display: flex;
      flex-direction: column;
      b {
        text-align: center;
        margin: 1rem;
      }
      img {
        margin: auto;
        height: 20vh;
        width: 30vw;
      }
      p {
        margin: 1rem 2rem;
        text-align: center;
      }
      button {
        width: 20vw;
        margin: 1rem auto;
        justify-self: end;
      }
    }
  }
  .main-form{
    height: 55vh;
    display: flex;
    justify-content: space-between;

    .form-section{
      height: 40vh;

    }
  }

  input {
    border-radius: 3px;
  }

  label {
    text-align: right;
  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }

  form {
    height: 50vh;
  }
  input {
    width: 40vw;
  }
  .step3{
    width: 80vw;
  }

  .choose-company-pagination {
    display: flex;
    justify-content: center;

    button{
      width: 6vw;
      margin: 1px 4px;
    }
  }
}
