.cv-folders {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0vh;
}

.tools {
  margin: 1rem 1rem;
  display: flex;
  .btn {
    background: rgba(255, 255, 255, 0.23);
    color: white;
  }
}

.job-post-tools{
  display: flex;
}
