
$bg-color: gray;
.footer{
  background: $bg-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  button{
  margin: 1vh 2vw;
    background-color: gray;
    height: 4vh;
    width: 8vw;
    &:hover{
      background-color: background;
    }
  }
}

.balatar-license{
  background: $bg-color;
  text-align: center;
  padding-bottom: 1rem;
}
