#app {
  color: black;
  direction: rtl;
  nav {
    height: 5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    img {
      width: 10vw;
      margin: 0 1rem;
    }

    .page-links {
      justify-self: end;

      a {
        margin: 0 1rem;
      }
    }

  }

  .company-intro {
    position: relative;
    height: 70vh;
    width:100vw;
    background-repeat: no-repeat ;
    background-size: cover;
    .background{
      position: relative;
      width:100vw;
      z-index: 1;
    }
    .intro-card {

      position: absolute;
      margin: 17vh 33vw;
      border-radius: 1rem;
      background-color: rgba(249, 251, 255, 0.92);
      color: black;
      width: 33vw;

      img {
        margin: 3vh 2vw;
      }
    }

  }
  .company-massage {
    color: black;
    text-align: center;
    margin: 1vh 20vw;
    border-radius: 1rem ;
    .card-header {
      font-size: large;
      margin-bottom: 2vh;
    }

  }
}
