$mobile-view: 600px;
$mobile-width: 90vw;
#app {
  color: black;
  direction: rtl;

  nav {
    height: 5vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    img {
      width: 10vw;
      margin: 0 1rem;
      @media (max-width: $mobile-view) {
        width: 30vw;
      }
    }

    .page-links {
      justify-self: end;
      @media (max-width: $mobile-view) {
        display: none;
      }

      a {
        margin: 0 1rem;
      }
    }

  }

  .company-intro {
    position: relative;
    height: 70vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: $mobile-view) {
      height: 90vw;
    }

    .background {
      position: relative;
      width: 100vw;
      z-index: 1;
    }

    .intro-card {

      position: absolute;
      margin: 17vh 33vw;
      border-radius: 1rem;
      background-color: rgba(249, 251, 255, 0.92);
      color: black;
      width: 33vw;
      @media (max-width: $mobile-view) {
        width: 90vw;
        margin: 10vh 5vw;
      }

      img {
        margin: 3vh 2vw;
      }
    }

  }

  .company-massage-container {
    margin: 1rem auto;
    //padding: 1rem;
    display: flex;
    justify-content:center;
    .company-massage {
      color: black;
      text-align: center;
      margin: 1vh 20vw;
      border-radius: 1rem;
      @media (max-width: $mobile-view) {
        width: $mobile-width;
        margin: 10vh 5vw;
      }

      .card-header {
        font-size: large;
        margin-bottom: 2vh;
      }
    }

  }
}
