.application{
  background-color: white;
  margin: 3px 1vw;
  display: flex;
  flex-direction: column;
  //border: 1px solid gray;
  //width: auto;
  direction: rtl;

  .card-header{
    background-color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    .delete-icon{
      justify-self: flex-end;
    }
  }
  .card-body{
    display: flex;
    justify-content: space-between;
  }
  &:hover{
    border: 1px solid #173c77;
    cursor: pointer;
  }
}

