
.container {
  font-family: "iransans";
  direction: rtl;
}

.main_photo {
  background: url("https://ja-company.demo.joomlart.com/images/joomlart/slideshow/item-3.jpg") no-repeat top fixed;
  min-height: 500px;
  background-size: 100% 100%, cover;
  vertical-align: center;

}

#main {
  height: 100%;
}

#template .main_card {
  margin: 10% auto;
  opacity: .93;
  border-radius: 20px;
}

#template p {
  text-align: center;
  font-size: medium;
}

.plans{
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  margin: 2vh auto;
  .plan{
    width: 30vw;
    height: 40vh;
    margin: 0 1vw;
    .plan-name{
      h2{
        margin: 1.5vh auto;
      }
    }

    .plan-disc{

    }
  }
}
