.card{
  width: 25vw;
  direction: rtl;
  vertical-align: auto;
  textarea{
    margin: 1rem auto;
    width: 20vw;
  }
  .card-header{
    text-align: right;
  }
  .card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    .button-div{
      margin: auto 3px;
      button{
        font-size: small;
      }
    }
  }
}
